<!-- NAVIGATION BAR INCLUDED -->
<div ng-include="'views/partials/nav.html'"></div>

<div layout="row" class="pageContent">
  <div layout-md="column" flex="10"></div>
  <div layout="column" flex="80">
    <div layout="column">

      <div class="slideshow-container" layout="row">
        <a class="prev" ng-click="moveSlides(-1)">&#10094;</a>
        <!-- <div class="mySlides fade" ng-repeat="slide in slides"> -->

        <div ng-repeat="slide in slides">
          <img ng-src="{{slide.image}}" ng-class="{visible: (slide.visible === true), invisible: (slide.visible === false)}" style="width:100%">
        </div>
        <a class="next" ng-click="moveSlides(1)">&#10095;</a>
      </div>
      <br>
      <div class="dotsContainer" layout="row" layout-align="center center">
        <div layout="row" layout-align="center center" ng-repeat="slide in slides">
          <span class="dot" ng-click="currentSlide($index)" ng-class="{active: (slide.visible === true), inactive: (slide.visible === false)}"></span>
        </div>
      </div>

        <!-- SOCIAL MEDIA -->
        <!-- <div layout="column" class="socialMedia" layout-align="center center">
          <br>
          <br>
          <p>CONNECT WITH ME:</p>
          <div layout="row">
            <a href="https://linkedin.com/in/claudiacalderas/" target="_blank"><img class="socialMediaIcon" src="views/images/Linkedin.png" alt="LinkedIn"></a>
            <a href="https://github.com/claudiacalderas" target="_blank"><img class="socialMediaIcon" src="views/images/Github.png" alt="Github"></a>
            <a href="https://www.instagram.com/claudiacalderas/" target="_blank"><img class="socialMediaIcon" src="views/images/Instagram.png" alt="Instagram"></a>
            <a href="https://www.pinterest.com/claudiacalderas/" target="_blank"><img class="socialMediaIcon" src="views/images/Pinterest.png" alt="Pinterest"></a>
            <a href="https://claudiacalderas.tumblr.com/" target="_blank"><img class="socialMediaIcon" src="views/images/Tumblr.png" alt="Tumblr"></a>
          </div>
        </div>
        END SOCIAL MEDIA -->
    </div>
  </div>

  <div layout-md="column" flex="10"></div>
</div>
