<!-- NAVIGATION BAR INCLUDED -->
<div ng-include="'views/partials/nav.html'"></div>

<div layout="row" class="pageContent">
  <div layout-md="column" flex="10"></div>
  <div layout="column" flex="80">
    <div layout="row">


        <div id="slides_control">
          <div>
            <carousel interval="myInterval">
              <slide ng-repeat="slide in slides" active="slide.active">
                <img class="carouselImg" ng-src="{{slide.image}}">
                <div class="carousel-caption">
                  <h4>Slide {{$index+1}}</h4>
                </div>
              </slide>
            </carousel>
          </div>
        </div>











        <!-- SOCIAL MEDIA -->
        <!-- <div layout="column" class="socialMedia" layout-align="center center">
          <br>
          <br>
          <p>CONNECT WITH ME:</p>
          <div layout="row">
            <a href="https://linkedin.com/in/claudiacalderas/" target="_blank"><img class="socialMediaIcon" src="views/images/Linkedin.png" alt="LinkedIn"></a>
            <a href="https://github.com/claudiacalderas" target="_blank"><img class="socialMediaIcon" src="views/images/Github.png" alt="Github"></a>
            <a href="https://www.instagram.com/claudiacalderas/" target="_blank"><img class="socialMediaIcon" src="views/images/Instagram.png" alt="Instagram"></a>
            <a href="https://www.pinterest.com/claudiacalderas/" target="_blank"><img class="socialMediaIcon" src="views/images/Pinterest.png" alt="Pinterest"></a>
            <a href="https://claudiacalderas.tumblr.com/" target="_blank"><img class="socialMediaIcon" src="views/images/Tumblr.png" alt="Tumblr"></a>
          </div>
        </div>
        <!-- END SOCIAL MEDIA --> -->
    </div>
  </div>

  <div layout-md="column" flex="10"></div>
</div>
