<!-- NAVIGATION BAR INCLUDED -->
<div ng-include="'views/partials/nav.html'"></div>

<div layout="row" class="pageContent">
  <div layout-md="column" flex="5"></div>
  <div layout="column" flex="90">
    <div layout="row" layout-xs="column" layout-sm="column" layout-md="row">
      <div layout="column" layout-align="center center" class="myPhoto" flex-gt-sm="30" flex-xs="90" flex-sm="90">
        <span>{{specificItem.title}}</span>
      </div>
      <div flex-gt-sm="5" hide-xs hide-sm></div>
      <div class="aboutText" layout="column" flex-xs="90" flex-sm="90" flex-gt-sm="65">
        <img ng-src="{{specificItem.image_url}}">
      </div>
    </div>

    <div layout="column" class="socialMedia" layout-align="center center">
      <br>
      <p>CONNECT WITH ME:</p>
      <div layout="row">
        <a href="https://linkedin.com/in/claudiacalderas/" target="_blank"><img class="socialMediaIcon" src="views/images/Linkedin.png" alt="LinkedIn"></a>
        <a href="https://github.com/claudiacalderas" target="_blank"><img class="socialMediaIcon" src="views/images/Github.png" alt="Github"></a>
        <a href="https://www.instagram.com/claudiacalderas/" target="_blank"><img class="socialMediaIcon" src="views/images/Instagram.png" alt="Instagram"></a>
        <a href="https://www.pinterest.com/claudiacalderas/" target="_blank"><img class="socialMediaIcon" src="views/images/Pinterest.png" alt="Pinterest"></a>
        <a href="https://claudiacalderas.tumblr.com/" target="_blank"><img class="socialMediaIcon" src="views/images/Tumblr.png" alt="Tumblr"></a>
        <a href="mailto:claudia.calderas@gmail.com" target="_self"><img class="socialMediaIcon" src="views/images/Mail.png" alt="Mail"></a>
      </div>
    </div>

  </div>
  <div layout-md="column" flex="5"></div>
</div>

<!-- FOOTER INCLUDED -->
<div ng-include="'views/partials/footer.html'"></div>
