<!-- NAVIGATION BAR INCLUDED -->
<div ng-include="'views/partials/nav.html'"></div>

<div layout="row" class="pageContent">
  <div layout-md="column" flex="10"></div>
  <div layout="column" flex="80" layout-align="start center">

    <div class="portfolioContainer" layout="row" layout-wrap>
      <md-card class="portfolioBox" ng-repeat="item in portfolioItems">
         <img ng-src="{{item.image_url}}" class="md-card-image portfolioPhoto" alt="" ng-click="goToSpecificItem(item)">
         <md-card-title layout="column">
           <md-card-title-text>
           </md-card-title-text>
         </md-card-title>
         <md-card-content>
           <span class="md-headline cardTitle" ng-click="goToSpecificItem(item)">{{item.title}}</span>
         </md-card-content>
         <md-card-actions layout="row" layout-align="start center">
           <md-card-icon-actions>
           </md-card-icon-actions>
         </md-card-actions>
       </md-card>
     </div>

      <!-- SOCIAL MEDIA -->
      <div layout="column" class="socialMedia" layout-align="center center">
        <p>CONNECT WITH ME:</p>
        <div layout="row">
          <a href="https://linkedin.com/in/claudiacalderas/" target="_blank"><img class="socialMediaIcon" src="views/images/Linkedin.png" alt="LinkedIn"></a>
          <a href="https://github.com/claudiacalderas" target="_blank"><img class="socialMediaIcon" src="views/images/Github.png" alt="Github"></a>
          <a href="https://www.instagram.com/claudiacalderas/" target="_blank"><img class="socialMediaIcon" src="views/images/Instagram.png" alt="Instagram"></a>
          <a href="https://www.pinterest.com/claudiacalderas/" target="_blank"><img class="socialMediaIcon" src="views/images/Pinterest.png" alt="Pinterest"></a>
          <a href="https://claudiacalderas.tumblr.com/" target="_blank"><img class="socialMediaIcon" src="views/images/Tumblr.png" alt="Tumblr"></a>
          <a href="mailto:claudia.calderas@gmail.com" target="_self"><img class="socialMediaIcon" src="views/images/Mail.png" alt="Mail"></a>
        </div>
      </div>
      <!-- END SOCIAL MEDIA -->

  </div>
  <div layout-md="column" flex="10"></div>
</div>

<!-- FOOTER INCLUDED -->
<div ng-include="'views/partials/footer.html'"></div>
