body {
  font-family: sans-serif;
  padding-top: 10px;
}

h1 {
  font-weight: 300;
  font-size: 25px;
}

h2 {
  font-weight: 300;
  font-size: 20px;
}

span {
  font-weight: 300;
  font-size: 16px;
}

a {
  color: #7f0000;
}

span:focus {
    outline: none;
    border: 0;
}

button:focus {
    outline: none;
    border: 0;
}

h2:focus {
    outline: none;
    border: 0;
}

.navBar {
  /*position: fixed;*/
  /*background-color: white;*/
  font-weight: lighter;
  width: 100%;
  height: 70px;
}

.navTitle {
  padding-left: 10px;
  letter-spacing: 4px;
  color: black;
}

.imgNav {
  padding: 5px;
  padding-top: 15px;
  height: auto;
  max-height: 50px;
  max-width: 50px;
}

.menuOption {
  font-weight: 300;
}

.menuOptions {
  font-family: sans-serif;
  font-size: 12px;
  font-weight: lighter;
  padding-left: 5px;
  padding-right: 5px;
  color: black;
  text-decoration: none;
}

.pageContent {
  /*padding-top: 120px;*/
  padding-top: 60px;
  padding-bottom: 60px;
  font-weight: lighter;
}

.artMenu {
  width: 100%;
}

.artOption {
  color: darkslategray;
  font-weight: 300;
}

.socialMedia {
  width: 100%;
}

.socialMediaIcon {
  max-height: 25px;
  padding: 2px;
}

.myPhoto {
  display: block;
  max-width:200px;
  max-height:82px;
  width: 100%;
  height: auto;
}

/* Carousel */

/** {box-sizing:border-box}*/

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.contact-container {
  max-width: 500px;
  position: relative;
  margin: auto;
}

.visible {
  /* fading animation: */
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
  display: block;
}

.invisible {
  display: none;
}

/* previous and next buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  z-index: 1000;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

.prev:focus {
    outline: none;
    border: 0;
}

.next:focus {
    outline: none;
    border: 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.inactive {
  background-color: #bbb;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.dotsContainer {
  width: 100%;
}

.line {
  flex-shrink: 1;
  background-color: lightgray;
  height: 1px;
  position: relative;
  top: .45em;
}

.footer {
  font-size: 15px;
  color: darkgray;
  font-weight: 200;
}

.aboutText {
  width: 100%;
  font-size: 15px;
  color: black;
  font-weight: 200;
}
