body {
  font-family: sans-serif;
}

h1 {
  font-weight: 300;
  font-size: 25px;
}

h2 {
  font-weight: 300;
  font-size: 20px;
}

span {
  font-weight: 300;
  font-size: 16px;
}

a {
  color: #7f0000;
}

span:focus {
    outline: none;
    border: 0;
}

button:focus {
    outline: none;
    border: 0;
}

.navBar {
  position: fixed;
  background-color: white;
  font-weight: lighter;
  width: 100%;
  height: 80px;
}

.navTitle {
  padding-left: 10px;
  letter-spacing: 4px;
  color: black;
}

.imgNav {
  padding: 5px;
  height: auto;
  max-height: 50px;
}

.menuOption {
  font-weight: 300;
}

.menuOptions {
  font-family: sans-serif;
  font-size: 15px;
  font-weight: lighter;
  padding-left: 5px;
  padding-right: 5px;
  color: black;
  text-decoration: none;
}

.pageContent {
  padding-top: 120px;
  font-weight: lighter;
}

.socialMedia {
  width: 100%;
}

.socialMediaIcon {
  max-height: 25px;
  padding: 2px;
}

.myPhoto {
  max-width:80%;
}
