<!-- NAVIGATION BAR -->
<!-- <md-toolbar ng-controller="navBarController"> -->
  <div class="navBar" layout="row" layout-align="start center">
    <div layout="row" flex="60">
      <img class="imgNav" src="views/images/gray_logo_transparent.png" alt="logo">
      <h2 class="navTitle">CLAUDIA CALDERAS</h2>
    </div>
    <div layout="row" flex="40" layout-align="end center">
      <md-menu-bar>
        <md-menu>
          <button class="menuOption" ng-click="">
            Technology
          </button>
        </md-menu>
        <md-menu>
          <button class="menuOption" ng-click="">
            Art
          </button>
        </md-menu>
        <md-menu>
          <button class="menuOption" ng-click="">
            About
          </button>
        </md-menu>
      </md-menu-bar>
    </div>
  </div>
<!-- </md-toolbar> -->
