<!-- HEADER -->
<div layout="row" ng-controller="NavController">
  <div layout="column" flex="10"></div>
  <div class="navBar" layout="row" flex="80">
    <div layout="column" flex="100">
      <div class="navBar" layout="row" layout-align="start end">
        <div layout="row" flex-gt-md="50" flex-md="90" flex-sm="90" flex-xs="90" layout-align="start end">
          <a href="#home" hide-md hide-sm hide-xs>  <img class="imgNav" src="views/images/gray_logo_transparent.png" alt="logo"> </a>
          <!-- <span layout-align="start end" class="navTitleSm1" ng-click="loadHome()" hide-gt-md>CLAUDIA</span> -->
          <!-- <span layout-align="start end" class="navTitleSm1" ng-click="loadHome()" hide-gt-md>CALDERAS</span> -->
          <h2 layout-align="start end" class="navTitle" ng-click="loadHome()">CLAUDIA CALDERAS</h2>
        </div>
        <div class="navBarOptions" layout="row" flex="50" layout-align="end center" hide-md hide-sm hide-xs>
          <!-- <a class="menuOptions" href="https://claudiacalderas.wordpress.com/" target="_blank">CODING</a> -->
          <a class="menuOptions" href="#art">ART</a>
          <a class="menuOptions" href="#about">ABOUT</a>
          <a class="menuOptions" href="#contact">CONTACT</a>
        </div>
        <div layout="row" flex="10" layout-align="end center" hide-gt-md>
          <md-menu md-position-mode="target-right target" md-offset="0 60">
            <md-button class="md-icon-button md-button md-ink-ripple material-icons md-menu-origin menuIcon" type="button" aria-label="Open Options Menu" ng-click="openMenu($mdMenu, $event)">dehaze</md-button>
            <md-menu-content class="floatingMenu" width="4" ng-mouseleave="$mdMenu.close()" md-menu-align-target>
              <md-menu-item>
                <md-button class="menuButton" href="#art">
                  ART</md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button class="menuButton" ng-click="#about">
                  ABOUT</md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button class="menuButton" href="#contact">
                  CONTACT</md-button>
              </md-menu-item>
            </md-menu-content>
          </md-menu>
        </div>
      </div>
      <div class="line"></div>
    </div>
  </div>
  <div layout="column" flex="10"></div>
</div>






<!-- HEADER -->
<!-- <div layout="row">
  <div layout="column" flex="10"></div>
  <div layout="column" flex="80">

    <div class="navBar" layout="row" layout-align="start end" style="background-color:red;">
      <div layout="row" flex="80" layout-align="start end" style="background-color:blue;">
        <div>

        <a href="#home" hide-md hide-sm hide-xs>  <img class="imgNav" src="views/images/gray_logo_transparent.png" alt="logo"> </a>
        <span layout-align="start end" class="navTitleSm1" ng-click="loadHome()" hide-gt-md>CLAUDIA</span>
        <span layout-align="start end" class="navTitleSm1" ng-click="loadHome()" hide-gt-md>CALDERAS</span>
        <h2 layout-align="start end" class="navTitle" ng-click="loadHome()" hide-md hide-sm hide-xs>CLAUDIA CALDERAS</h2>
        </div>

      </div>
      <div class="menuList" layout="row" flex="20" layout-align="end center" style="background-color:green;">
        <a class="menuOptions" href="#art">ART</a>
        <a class="menuOptions" href="#about">ABOUT</a>
        <a class="menuOptions" href="#contact">CONTACT</a>
      </div>
      <div layout="row" flex="20" layout-align="end end" hide-gt-md style="background-color:green;">
        <md-menu md-position-mode="target-right target" md-offset="0 60">
          <md-button class="md-icon-button md-button md-ink-ripple material-icons md-menu-origin menuIcon" type="button" aria-label="Open Options Menu" ng-click="openMenu($mdMenu, $event)">dehaze</md-button>
          <md-menu-content class="floatingMenu" width="4" ng-mouseleave="$mdMenu.close()" md-menu-align-target>
            <md-menu-item>
              <md-button class="menuButton" href="#art">
                ART</md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button class="menuButton" ng-click="#about">
                ABOUT</md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button class="menuButton" href="#contact">
                CONTACT</md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
      </div>
    </div>
    <div class="line"></div>
  <div layout="column" flex="10"></div>

  </div>
</div> -->
