<!-- NAVIGATION BAR -->
  <!-- <md-toolbar ng-controller="navBarController"> -->
<!-- <div ng-controller="NavController" layout="row"> -->
  <div class="navBar" layout="row" layout-align="start center">
    <div flex="10"></div>
    <div layout="row" flex="50">
      <img class="imgNav" src="views/images/gray_logo_transparent.png" alt="logo">
      <h2 class="navTitle">CLAUDIA CALDERAS</h2>
    </div>
    <div layout="row" flex="30" layout-align="end center">
      <!-- <a class="menuOptions" href="#art">Art</a> -->

      <a class="menuOptions" href="https://claudiacalderas.wordpress.com/" target="_blank">Blog</a>
      <a class="menuOptions" href="#art">Art</a>
      <a class="menuOptions" href="#about">About</a>



      <!-- <md-menu-bar> -->
        <!-- <md-menu>
          <button class="menuOption" ng-click="location.href='https://claudiacalderas.wordpress.com/';">
            Technology
          </button>
        </md-menu>
        <md-menu>
          <button class="menuOption" ng-click="">
            Art
          </button>
        </md-menu>
        <md-menu>
          <button class="menuOption" ng-click="">
            About
          </button>
        </md-menu>
      </md-menu-bar> -->
    </div>
    <div flex="10"></div>

  </div>
<!-- </div> -->

<!-- </md-toolbar> -->
